<p id="notice"><%= notice %></p>
<div align="center">
  <h1>HENTEKI</h1>
  <p style="color:red">This website is promoted by Zhao Xi and Ohkawara Masaru.</p>
  <table border="1">
    <thead>
      <tr>
        <th style="width:40em">Japanese</th>
        <th style="width:10em"> Know More </th>
        <th style="width:40em">Chinese</th>
      </tr>
    </thead>
  
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.japanese %></td>
          <td align="center"><%=link_to "Detail", post%></link_to></td>
          <td><%= post.chinese %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>HENTEKI is an organization dedicated to promoting friendship between China and Japan.</p>
</div>
<br>

