<p id="notice"><%= notice %></p>
<style>
  h1 {
    color: green;
    font-size: 40px;
  }
  .hungry {
    color: green;
    font-size: 20px;
  }
</style>
<div align="center">
  <h1>HENTEKI</h1>
  <p>This website is for Japanese/Chinese cross-learning. Have fun learning Japanese/Chinese!</p>
  <table border="1">
    <thead>
      <tr>
        <th style="width:40em">Japanese</th>
        <th style="width:10em"> </th>
        <th style="width:40em">Chinese</th>
      </tr>
    </thead>
  
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.japanese %></td>
          <td align='center'><%=link_to "詳しく/详细", post, :style=>'color:black; border:2px solid green; text-decoration:none; '%></link_to></td>
          <td><%= post.chinese %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>HENTEKI is an organization dedicated to promoting friendship between China&nbsp;and&nbsp;Japan.</p>
</div>
<br>

<div class="hungry">
You've learned so much Japanese/Chinsese! You must be hungry! <a href="http://henteki-recipefinder.herokuapp.com">Click here to find some recipe!</a>
</div>

<footer>
<p>This website is promoted by Zhao Xi and Ohkawara Masaru.</p>
</footer>